<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.videoplayer.videox.XApplication"
        android:allowBackup="false"
        android:banner="@mipmap/ic_launcher"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme_MediaPlayer_LightMode"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.videoplayer.videox.activity.ContActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.videoplayer.videox.activity.PrivPoliActivity"
            android:exported="false" />
        <activity
            android:name="com.videoplayer.videox.activity.MedSorActivity"
            android:exported="false" />
        <activity
            android:name="com.videoplayer.videox.activity.VidMusActivity"
            android:exported="false" />
        <activity
            android:name="com.videoplayer.videox.activity.HistActivity"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.videoplayer.videox.activity.AudFolActivity"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.videoplayer.videox.activity.AudConActivity"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.videoplayer.videox.activity.SetActivity"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6206028069103218~5717159982" />

        <activity
            android:name="com.videoplayer.videox.activity.SplsActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.videoplayer.videox.activity.HomPageActivity"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.videoplayer.videox.activity.VidPlayActivity"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"
            android:exported="true"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:taskAffinity=".VideoPlayerTask">
            <intent-filter>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.videoplayer.videox.activity.MusPlayActivity"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.videoplayer.videox.activity.VidTrimActivity"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.videoplayer.videox.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <service
            android:name="com.videoplayer.videox.ser.MusServ"
            android:enabled="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/main_orange" />

        <receiver
            android:name="com.videoplayer.videox.ser.MusNotRec"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO">
            <intent-filter>
                <action android:name="ACTION_PLAY" />
                <action android:name="ACTION_PREV" />
                <action android:name="ACTION_NEXT" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.videoplayer.videox.activity.StartPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videoplayer.videox.activity.IntroActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>